.container {
  @apply w-full md:w-1/3 my-2 bg-white;

  fieldset {
    @apply flex items-center justify-evenly bg-white uppercase font-bold text-gray-600;

    div {
      @apply w-full text-center cursor-pointer p-2 hover:bg-gray-100;
      transition: all 0.2s;
      transition: border 0.2s 0.2s;
    }

    div:has(input:checked) {
      @apply border-b-2 border-primary-500;
    }
  }

  input {
    @apply hidden;
  }

  label {
    @apply cursor-pointer w-full h-full block;
    transition: all 0.2s 0.2s;
  }

  input:checked + label {
    @apply text-primary-600;
  }
}
